;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies [[reagent "1.0.0-alpha2"]]

 :dev-http {8080 "public"}
 :builds
 {:vaani
  {:target :browser
   :modules {:main {:init-fn com.vaani.app/run}}}}}
